* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.25rem;
    width: 100%;
    height: 100vh;
}

:root {
    --main-color: #000;
    --background-color: #000;
    --secondary-background-color: #fff;
}

button {
    font-family: "Source Sans 3", sans-serif;
}

a {
    font-size: 1rem;
}

.source-sans-3-font {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.h2-heading {
    text-align: center;
    line-height: 30px;
    margin-bottom: 80px;
}

.h2-heading .h2-heading__main {
    font-size: 2.5rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1.25em;
    position: relative;
}

.h2-heading .h2-heading__main::after {
    content: '';
    display: block;
    width: 36px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1200%);
}

.h2-heading span.h2-heading__description {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: normal;
    max-width: 750px;
    overflow: auto;
}

h3 {
    font-size: 1.5rem;
}

main {
    width: 100%;
}

section {
    padding: 120px 0;
    width: 100%;
}

.main-container {
    padding: 0 40px;
    width: 100%;
}

@media (max-width: 750px) {
    h1 {
        font-size: 2.5rem;
    }

    .h2-heading .h2-heading__main {
        font-size: 2rem;
    }
}


/* header section */

.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.main-header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: center;
    font-weight: 700;
    font-size: .9em;
    background-color: #fff;
    box-shadow: 0 30px 30px #0000000e;
    position: relative;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #000;
}

.profile-container__img-cont {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-container__img-cont img {
    width: 100%;
}

.profile-container__name-cont {
    text-transform: uppercase;
}

.main-nav {
    display: flex;
    list-style: none;
}

.main-nav li a {
    text-decoration: none;
    color: #000;
    padding: 20px 24px;
}

.mobile-nav-cont {
    display: none;
    width: 100%;
    font-weight: 700;
    font-size: .9em;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 30px 30px #0000000e;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.mobile-nav li a {
    background-color: #fff;
    display: block;
    text-decoration: none;
    color: #000;
    padding: 20px 5%;
    border-top: 1px solid #cccccc;
    text-align: right;
}

.mobile-nav-btns {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.mobile-nav-btns__close#mobile-nav-btns__close {
    display: none;
}

@media (max-width: 950px) {
    .main-nav-cont {
        display: none;
    }

    .mobile-nav-btns {
        display: block;
    }
}




/* -------------------------- home hero section ------------------------ */

.home-hero {
    width: 100%;
    margin-top: 90px;
    background-image: linear-gradient(rgba(39, 97, 255, 0.9), rgba(39, 96, 255, 0.9)), url(../images/background.jpg);
    background-size: 350%;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}

.home-hero__content {
    text-align: center;
}

.home-hero__content h1 {
    margin-bottom: 40px;
}

.home-hero__content p {
    line-height: 30px;
    font-size: 1.25rem;
    font-weight: normal;
}

.home-hero__content__para-last {
    margin-bottom: 60px;
}

.home-hero__content__btn {
    padding: 20px 75px;
    letter-spacing: 2px;
    background-color: #fff;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    display: inline-block;
}

@media (max-width: 750px) {
    .home-hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-container {
        padding: 0 20px;
    }
}



/* --------------- about section ----------------------- */

.about {
    background-color: #f9f9f9;
}

.about__content-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.about__content-cont h3 {
    margin-bottom: 20px;
}

.about__content-cont p {
    line-height: 30px;
}

.about__content__btn {
    display: inline-block;
    padding: 20px 75px;
    letter-spacing: 2px;
    background-color: var(--background-color);
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary-background-color);
    border-radius: 5px;
    margin-top: 40px;
}

.skills {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 16px;
}

.skill {
    padding: 12px 20px;
    background-color: #dfdfdf;
    border-radius: 4px;
    font-size: .7em;
    font-weight: 700;
}

@media (max-width: 950px) {
    .about__content-cont {
        display: flex;
        flex-direction: column;
    }

    .skills {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .skill {
        padding: 12px 20px;
        background-color: #e4e4e4;
        border-radius: 4px;
    }
}

/* ------------------- projects section ---------------- */

.projects-content__cont {
    list-style: none;
}

.projects-content__item {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px;
    padding: 50px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.projects-content__item.last {
    margin-bottom: 0px;
}

.project-image-cont {
    box-shadow: 0 0 10px #6d6d6d;
    border-radius: 8px;
    max-width: 50%;
    height: fit-content;
}

.project-image-cont img {
    width: 100%;
    border-radius: inherit;
}

.project-item-content h3 {
    margin-bottom: 20px;
}

.project-item-content p {
    margin-bottom: 32px;
}

.project-item-content a {
    display: inline-block;
    padding: 20px 75px;
    letter-spacing: 2px;
    background-color: var(--background-color);
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary-background-color);
    border-radius: 5px;
    text-transform: uppercase;
}

@media (max-width: 950px) {
    .projects-content__item {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
        overflow: hidden;
        border: none;
    }

    .project-image-cont {
        max-width: 100%;
        background-color: transparent;
        padding: 0;
    }

    .project-item-content {
        text-align: center;
        padding: 0 20px 20px;
    }

    .project-item-content a {
        border-radius: 8px;
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .project-item-content a {
        width: 100%;
    }
}



/* -------------------------- contact section -------------------------- */

.contact {
    background-image: linear-gradient(rgba(39, 97, 255, 0.9), rgba(39, 96, 255, 0.9)), url(../images/background.jpg);
    background-size: 350%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.contact .h2-heading {
    color: #fff;
}

.contact .h2-heading .h2-heading__main::after {
    background-color: #fff;
}

.contact form {
    width: 100%;
    max-width: 950px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    margin: 0 auto;
}

.contact .form_field {
    margin-bottom: 40px;
}

.contact form label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: .9rem;
}

.contact form input {
    width: 100%;
    padding: 20px;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #ebebeb;
}

.contact form textarea {
    width: 100%;
    padding: 20px;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 4px;
    height: 300px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    font-family: inherit;
}

.contact__btn-cont {
    width: 100%;
    text-align: right;
}

.contact form button {
    display: inline-block;
    padding: 20px 75px;
    letter-spacing: 2px;
    background-color: var(--background-color);
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary-background-color);
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 450px) {
    .contact form {
        padding: 20px;
    }

    .contact__btn-cont {
        width: 100%;
        text-align: center;
    }

    .contact form button {
        width: 100%;
    }

    .contact .form_field {
        margin-bottom: 20px;
    }
}


/* ----------------- footer section -------------------- */

footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.footer__upper {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 40px;
}

.footer__upper h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__content-rgt ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer__content-rgt ul li a {
    font-size: 30px;
    color: #fff;
}

.footer__lower {
    border-top: 1px solid #9c9c9c;
    padding-top: 40px;
    text-align: center;
}


@media (max-width: 750px) {
    .footer__content-rgt {
        order: 1;
    }

    .footer__content-lf {
        order: 2;
    }

    .footer__upper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 80px;
        margin-bottom: 40px;
    }
}